.leftnav
	background: #404040
	.btn-collapsed
			padding: 16px 0
	// .ant-menu-submenu-vertical > .ant-menu-submenu-title:after
	//     content: "";
	// .ant-menu-vertical .ant-menu-submenu-selected
	//     background: #3E9ADA

	// .ant-menu-item
	//     font-size: 14px !important
	//     color : #ffffff !important
	// .ant-menu-submenu
	//     .ant-menu-submenu-title
	//         font-size: 14px !important
