.personmanage
    height: 100%;
    
    .departments
        display: block
        width: 260px;
        background-color: #F4F6F8
        border: 1px solid #DEDEDE
        margin-right: 10px;
        overflow-y: auto;
    .department-wrap
        background: #fff
        .dep-top-wrap
            padding: 10px;
        .dep-title
            line-height: 25px
            font-size: 18px
            padding-top: 10px
            margin-bottom: 10px;
        .dep-desc
            line-height: 20px;
            padding: 8px 10px
            border: 1px solid #EDE7C1
            background: #FFFADA
            margin-top: 10px;
            margin-bottom: 10px;
        .table-wrap
            overflow-y: auto
        
        .dep-bottom-wrap
            height: 50px;
            line-height: @height
            background: #ECEFF4
            padding: 0 10px;
.personmanage-editRole
    width: 488px;
    .role-wrap
        margin-bottom: 40px;
    .title
        text-align: right
        width: 80px;
        margin-right: 10px;
    p
        color: #666666
        font-size: 12px
        margin-top: 10px;
    .ant-checkbox-group-item
        margin-bottom: 5px;
            
